@import "../../App.scss";

.login {
  // border: 5px solid green;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  height: 100vh;
  .login__left {
    background-color: $background-color-two;
    // border: 1px solid red;
    height: 100%;
    width: 100%;
    padding: 0 9.24%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ll__div {
      // border: 1px solid red;
      width: 100%;
      .logo {
        width: 173px;
        height: 36px;
        // border: 1px solid blue;
        margin-bottom: 140px;
      }

      .pablo__image {
        // border: 1px solid brown;
        width: 100%;
        // height: 337px;
        margin: auto;
      }
    }
    @media (max-width: 1024px) {
      // border: 1px solid red;

      padding: 100px 16px;
    }
  }

  .login__right {
    height: 100%;
    padding: 0 100px;
    width: 100%;
    // border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
      // border: 1px solid blue;
      width: 100%;
      max-width: 447px;
      // margin: auto;
      .welcome {
        font-weight: 700;
        font-size: 40px;
        color: $text-color;
        margin-bottom: 10px;
      }
      .text {
        font-weight: 400;
        font-size: 20px;
        color: $secondary-color;
        margin-bottom: 60px;
      }
      .input {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .forgot__password {
        font-weight: 600;
        font-size: 12px;
        color: $primary-color;
        margin: 24px 0 30px;
      }

      @media (min-width: 1920px) {
        max-width: 600px;
      }
    }
    @media (max-width: 1024px) {
      // border: 1px solid red;

      padding: 100px 16px;
    }
  }
  @media (max-width: 1024px) {
    border: 1px solid green;
    //   display: grid;
    // align-items: center;
    grid-template-columns: 100%;
    height: auto;
  }
}
