@import "../../App.scss";

.general__button {
  border-radius: 8px !important;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.back__button {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
