@import "../../App.scss";

.user__details__info {
  border-radius: 4px;

  border: 1px solid $border-color;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: white;
  padding: 0px 30px;
  margin-top: 30px;
}

.userd__headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  .uh__p {
    font-size: 24px;
    font-weight: 500;
    color: $text-color;
  }
  .uh__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
